{% set user = comment.poster %}
{% set url = pimcore_url({'object': user}) %}
{% set creationDate = ucb_carbon(comment.creationDate) %}

<li class="grid grid-cols-4 gap-4 my-3">
    <div>
        <div class="flex items-center">
            <div class="mr-2">
                {% if user and user.image|default(false) %}
                    <a href="{{ url }}">{{ user.image.thumbnail('profile-img-sm').html({'height': 45, imgAttributes: {class: 'rounded-full'}})|raw }}</a>
                {% endif %}
            </div>
            <div>
                <span class="text-sm text-black/50">{{ creationDate.diffForHumans }}</span>
                <h5><a href="{{ url }}" class="font-semibold">{{ user.username }}</a></h5>
                <div class="forum-meta">
                    {% if replyable|default(false) and app.user %}
                        <span><a href="#"><i class="fa fa-mail-reply-all"></i> Reply</a></span>
                    {% endif %}
                </div>
                {% if app.user and ('ROLE_UCB_ADMIN' in app.user.roles or (user and user.id == app.user.id)) %}
                    <span class="text-sm text-red-700"><a href="{{ path('ucb_comment_remove',{ 'id': comment.id, '_target_path': app.request.pathInfo ~ '#' ~ id }) }}">{{ include('Svg/trash.html.twig', {svgClass: 'w-4 h-4 inline-block'}) }} {{ 'ucb.Delete Post'|trans }}</a></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-span-3 text-black/75">
        <span class="text-sm ">&nbsp;</span>
        {{ comment.content|raw }}
    </div>
</li>