{#
@var \Pimcore\Templating\PhpEngine $this
@var \Pimcore\Templating\PhpEngine $view
@var \Pimcore\Templating\GlobalVariables $app
@var \Zend\Paginator\Paginator $comments
@var string $id
#}

<section class="py-12">
<div class="max-w-5xl mx-auto px-4" id="{{ id }}">
    <div class="mt-2 mb-2">
        <h5 class="mt-1 mb-0"><i class="fa fa-comment-o m-r-5"></i> {{ 'ucb.container.Comments'|trans }} ({{ comments.totalItemCount }})</h5>
    </div>

    <ul>
        {% if comments.totalItemCount %}
            {% for key, comment in comments %}
                {{ include('@UniversalComment/commentLine.html.twig', {'comment': comment, 'id': id}) }}
            {% endfor %}
        {% else %}
            <li class="forum-reply">
                <div class="alert alert-info">
                    <strong>{{ 'ucb.container.no comments'|trans }}</strong>
                </div>
            </li>
        {% endif %}
    </ul>

    {% if comments.totalItemCount %}
        {{ include('@UniversalComment/paging.html.twig', pagingVariables|merge({
            'paginator': comments,
            'hideCount': true,
            'addClass': 'mb-5',
            'pageParam': pageParam
        })) }}
    {% endif %}

    {{ include('@UniversalComment/submitForm.html.twig', {'id': id }) }}
</div>
</section>
