{#
@var \Pimcore\Templating\PhpEngine $this
@var \Pimcore\Templating\PhpEngine $view
@var \Pimcore\Templating\GlobalVariables $app

@var addClass string
@var totalItemCount
@var firstPageInRange
@var pagesInRange array
@var lastPageInRange
@var showFirstLast bool
@var hideCount bool
@var first
@var last
#}
{% block paging %}
    {% set leftIcon = 'fa fa-angle-left' %}
    {% set rightIcon = 'fa fa-angle-right' %}
    {# use this to conserve parameters in the url or else everything will be reset #}
    {% set params = {} %}
    {% if object is defined %}
        {% set params = params|merge({'object': object}) %}
    {% endif %}
    {% set pages = paginator.getPaginationData() %}

    {% set addClassArray = [] %}

    {% if addClass is defined %}
        {% set addClassArray = addClassArray | merge([addClass]) %}
    {% endif %}
    {% set hashSuffix = '' %}
    {% if hashtag is defined and hashtag is not empty %}
        {% set hashSuffix = '#' . hashtag %}
    {% endif %}


    {% if pages.pageCount > 1 %}

        <div class="row {{ addClassArray|join(' ') }}">

            {% if not hideCount|default(false) %}
                <div class="col col-xs-12 col-sm-4 has-paging--count">
                    <div class="row row--gutter-with-10">
                        <div class="col-md-12 text-nowrap">
                            {{ totalItemCount }} {{ totalItemCount == 1 ? 'paging.ergebnis'|trans : 'paging.ergebnisse'|trans }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col col-xs-12 {{ hideCount|default(false) ? '' : 'col-sm-8' }} has-paging--list text-center text-md-right">
                <nav aria-label="{{ 'sr.pageination-navigation'|trans }}" class="d-ib">
                    <ul class="pagination js-filter-form-paging">

                    {% if pages.previous is defined %}
                        {% do pimcore_placeholder('headPrev').set('<link rel="prev" href="' ~ pimcore_url( params|merge({ 'page': pages.previous }), null, true) ~ '">') %}
                        <li class="li-has-arrow page-item">
                            <a class="page-link" href="{{ pimcore_url( params|merge({ 'page': pages.previous }), null, true) }}" data-page="{{ pages.previous }}" rel="prev">
                                <span class="icon {{ leftIcon }}"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled li-has-arrow page-item">
                            <a class="page-link" href="#">
                                <span class="icon {{ leftIcon }}"></span>
                            </a>
                        </li>
                    {% endif %}

                    {% if showFirstLast|default(false) %}
                        {% if firstPageInRange != first %}
                            <li class="page-item">
                                <a class="page-link" href="{{ pimcore_url( params|merge({ 'page': first }), null, true) }}" data-page="{{ first }}">
                                    {{ first }}
                                </a>
                            </li>
                        {% endif %}
                        {% if firstPageInRange > first+1 and firstPageInRange < first+3 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ pimcore_url( params|merge({ 'page': first+1 }), null, true) }}" data-page="{{ first+1 }}">
                                    {{ first+1 }}
                                </a>
                            </li>
                        {% endif %}
                        {% if firstPageInRange > first+2 %}
                            <li class="disabled page-item">
                                <a class="page-link" href="#">...</a>
                            </li>
                        {% endif %}
                    {% endif %}
                        {% for page in pagesInRange %}
                            {% if page != current %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ pimcore_url( params|merge({ 'page': page }), null, true) }}" data-page="{{ page }}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="active page-item">
                                    <a class="page-link" href="" data-page="{{ page }}">
                                        {{ page }} <span class="sr-only">({{ 'sr.page.current'|trans }})</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if showFirstLast|default(false) %}
                            {% if lastPageInRange < last-2 %}
                                <li class="disabled page-item">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            {% endif %}
                            {% if lastPageInRange < last-1 and lastPageInRange > last+3 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ pimcore_url( params|merge({ 'page': last-1 }), null, true) }}" data-page="{{ last-1 }}">
                                        {{ last-1 }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if lastPageInRange != last %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ pimcore_url( params|merge({ 'page': last }), null, true) }}" data-page="{{ last }}">
                                        {{ last }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% if pages.next is defined %}
                            {% do pimcore_placeholder('headNext').set('<link rel="next" href="' ~ pimcore_url(params|merge({ 'page': pages.next }), null, true) ~ '">') %}
                            <li class="li-has-arrow page-item">
                                <a class="page-link" href="{{ pimcore_url(params|merge({ 'page': pages.next }), null, true) }}" data-page="{{ next }}" rel="next">
                                    <span class="icon {{ rightIcon }}"></span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled li-has-arrow page-item">
                                <a class="page-link" href="#">
                                    <span class="icon {{ rightIcon }}"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock %}